<div class="flex flex-col md:w-1/2">
  <span class="p-input-icon-left w-full mb-4">
    <ui-password
      [label]="'Password'"
      [class]="'w-full md:w-25rem m-0'"
      [control]="form.controls['oldPassword']"
      [feedback]="false"
    ></ui-password>
  </span>
  <span class="p-input-icon-left w-full mb-4">
    <ui-password
      [label]="'Repeat Password'"
      [class]="'w-full md:w-25rem m-0'"
      [control]="form.controls['newPassword']"
      [feedback]="false"
    ></ui-password>
  </span>
  <div class="flex gap-2">
    <ui-button
      class="w-full"
      [label]="'Submit'"
      [class]="' w-full'"
      (click)="changePassword()"
    ></ui-button>
  </div>
</div>
