<div class="flex items-center justify-center overflow-hidden py-20 px-4">
  <div [formGroup]="form" class="flex flex-col items-center justify-center">
    <div class="card-auth">
      <div class="w-full bg-surface-0 py-20 px-8 sm:px-20 border-53">
        <div class="text-center mb-8">
          <div class="text-surface-900 text-3xl font-medium mb-4">
            Enter consumer info
          </div>
          <span class="text-muted-color font-medium">Sign in to continue</span>
        </div>

        <div class="mb-5">
          <ui-label [class]="'block text-surface-900 font-medium text-l mb-1'"
            >Client Id</ui-label
          >
          <ui-input
            [label]="'Client Id'"
            [class]="'w-full md:w-[30rem]'"
            [control]="form.controls['clientId']"
          ></ui-input>
        </div>
        <div class="mb-8">
          <ui-label [class]="'block text-surface-900  font-medium text-l mb-1'"
            >Client Secret</ui-label
          >
          <ui-input
            [label]="'Client Secret'"
            [control]="form.controls['clientSecret']"
          ></ui-input>
        </div>

        <ui-button
          [disabled]="form.invalid"
          [label]="'Confirm'"
          [class]="'w-full'"
          [type]="'submit'"
          (click)="submit()"
        ></ui-button>
      </div>
    </div>
  </div>
</div>
